* {
  list-style: none;
  text-decoration: none;
}
:root {
  /*Color*/
  --mhf-color-1: #ffffff;
  --mhf-color-2: #59585b;
  --mhf-color-3: #0b1b35;
  --mhf-color-4: #8faddb;

  /* Paddings */
  --mhf-padding-s: 10px;
  --mhf-padding-m: 20px;
  --mhf-padding-l: 30px;

  /* Margin */
  --mhf-margin-s: 10px;
  --mhf-margin-m: 20px;
  --mhf-margin-l: 30px;

  /* Border radius */
  --mhf-border-radius: 20px;
}

body {
  position: absolute;
  width: 100%;
  height: 80%;
  flex-direction: column;
  display: flex;
}

/* HEADER */

header {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
}

header > div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

#digital {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1, 5em;
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 60px;
  width: 100%;
  height: 60px;
}
.navigator {
  font-size: larger;
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row-reverse;
}

.list {
  color: var(--mhf-color-2);
  font-style: italic;
  display: flex;
  padding-top: 20px;
  width: 100%;
  height: 60px;
}

.no-link {
  margin-right: 50px;
}

#menu {
  display: none;
  width: 30px;
}

/* MAIN */

.contenedor {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.primero {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 80%;
  display: flex;
}
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  order: 1;
}

#info > h1 {
  font-size: 3em;
  font-style: italic;
  color: var(--mhf-color-3);
  height: 50%;
  text-align: center;
  padding: 5% 20% 0% 20%;
}
#info > p {
  color: var(--mhf-color-2);
  font-style: italic;
  font-size: 2em;
  text-align: center;
  height: 30%;
  margin-top: 30px;
  padding: 2% 20% 0% 20%;
}

#boton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 20%;
}

#boton > button {
  font-size: large;
  background-color: #8faddb;
  color: var(--mhf-color-1);
  cursor: pointer;
  width: 100px;
  height: 50px;
  border-radius: var(--mhf-border-radius);
}

#picture {
  display: flex;
  width: 50%;
  height: 500px;
  order: 2;
}

#picture > img {
  width: 400px;
}

/* Section 2 */

.segundo {
  position: relative;
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 100%;
  margin-top: 40px;
}

.segundo_h2 {
  color: var(--mhf-color-2);
  font-style: italic;
  font-size: larger;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.segundo_h2 > h2 {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2em;
}

.segundo_nav {
  border-radius: var(--mhf-border-radius);
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.ul_img {
  background-color: whitesmoke;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 50px;
}

.ul_img > img {
  position: relative;
  width: 4em;
}

/* Tercero */
.tercero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.divh2 {
  color: var(--mhf-color-3);
  top: 50px;
  font-size: 30px;
  max-width: 100%;
  justify-content: center;
  display: flex;
  position: relative;
}

.cv {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  margin-top: 40px;
  justify-content: center;
}

.cv > article {
  background-color: whitesmoke;
  min-width: 252px;
  min-height: 298px;
  width: 15%;
  margin: 30px;
  text-align: center;
}

.cv > article > img {
  max-width: 40%;
  height: auto;
}

.cv > article > h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 200px;
  margin-top: 50px;
}

#footer_h1 {
  font-size: 15px;
  position: relative;
}

.footer_ul {
  padding: 0px;
}
@media (max-width: 730px) {
  #menu {
    display: flex;
    flex-direction: column;
  }
  .navigator {
    display: none;
  }
  #picture > img {
    opacity: 30%;
  }
}

@media screen and (max-width: 920px) {
  .cv > article {
    width: 80%;
    margin-left: 10px;
  }
}
